export XDG_CONFIG_HOME="$HOME/.config"
export XDG_CACHE_HOME="$HOME/.cache"
export XDG_DATA_HOME="$HOME/.local/share"

export SUDO_EDITOR=vim
#export RANGER_LOAD_DEFAULT_RC=false
export QT_QPA_PLATFORMTHEME=gtk2
export GIMP2_DIRECTORY="$XDG_CONFIG_HOME/gimp"
export __GL_SHADER_DISK_CACHE_PATH="$XDG_CACHE_HOME/nv"
export GTK2_RC_FILES="$XDG_CONFIG_HOME/gtk-2.0/gtkrc"
export PASSWORD_STORE_DIR="$XDG_DATA_HOME/pass"
#export WEECHAT_HOME="$XDG_CONFIG_HOME/weechat"
export XKB_DEFAULT_OPTIONS="caps:escape"

#xset s off &
#xset -dpms &
