export XDG_CONFIG_HOME="$HOME/.config"
export XDG_CACHE_HOME="$HOME/.cache"
export XDG_DATA_HOME="$HOME/.local/share"

export EDITOR=/usr/bin/nvim
export SUDO_EDITOR=/usr/bin/nvim
export RANGER_LOAD_DEFAULT_RC=false
export QT_QPA_PLATFORMTHEME=gtk2
export GIMP2_DIRECTORY="$XDG_CONFIG_HOME"/gimp
export __GL_SHADER_DISK_CACHE_PATH="$XDG_CACHE_HOME"/nv
export GTK2_RC_FILES="$XDG_CONFIG_HOME"/gtk-2.0/gtkrc
export PASSWORD_STORE_DIR="$XDG_DATA_HOME"/pass
export WEECHAT_HOME="$XDG_CONFIG_HOME"/weechat
export NO_AT_BRIDGE=1
export FZF_DEFAULT_COMMAND='fd --type f --hidden --follow --exclude .git'
export FZF_CTRL_T_COMMAND="$FZF_DEFAULT_COMMAND"
export SYSTEMD_LESS="FRXMK"

export LANG=en_US.utf8
